<div class="loginContainer">
  <head-top :head-title="loginWay? '登录':'密码登录'" goBack="true">
    <!-- <div slot="changeLogin" class="change_login" @click="changeLoginWay">{{loginWay? "密码登录":"短信登录"}}</div> -->
  </head-top>
  <form class="loginForm" v-if="loginWay">
    <section class="input_container phone_number">
      <input type="text" placeholder="账号密码随便输入" name="phone" maxlength="11" v-model="phoneNumber">
      <button @click.prevent="getVerifyCode" :class="{right_phone_number:rightPhoneNumber}" v-show="!computedTime">获取验证码</button>
      <button @click.prevent v-show="computedTime">已发送({{computedTime}}s)</button>
    </section>
    <section class="input_container">
      <input type="text" placeholder="验证码" name="mobileCode" maxlength="6" v-model="mobileCode">
    </section>
  </form>
  <form class="loginForm" v-else>
    <section class="input_container">
      <input type="text" placeholder="账号" v-model.lazy="userAccount">
    </section>
    <section class="input_container">
      <input v-if="!showPassword" type="password" placeholder="密码" v-model="passWord">
      <input v-else type="text" placeholder="密码" v-model="passWord">
      <div class="button_switch" :class="{change_to_text: showPassword}">
        <div class="circle_button" :class="{trans_to_right: showPassword}" @click="changePassWordType"></div>
        <span></span>
        <span></span>
      </div>
    </section>
    <section class="input_container captcha_code_container">
      <input type="text" placeholder="验证码" maxlength="4" v-model="codeNumber">
      <div class="img_change_img">
        <img v-show="captchaCodeImg" :src="captchaCodeImg">
        <div class="change_img" @click="getCaptchaCode">
          <p>看不清</p>
          <p>换一张</p>
        </div>
      </div>
    </section>
  </form>
  <p class="login_tips">
    温馨提示：未注册过的账号，登录时将自动注册
  </p>
  <p class="login_tips">
    注册过的用户可凭账号密码登录
  </p>
  <div class="login_container" @click="mobileLogin">登录</div>
  <router-link to="/forget" class="to_forget" v-if="!loginWay">重置密码？</router-link>
  <alert-tip v-if="showAlert" :showHide="showAlert" @closeTip="closeTip" :alertText="alertText"></alert-tip>
</div>