<div class="food_container">
  <head-top :head-title="headTitle" goBack="true"></head-top>
  <section class="sort_container">
  <!-- 分类 -->
    <div class="sort_item" :class="{choose_type:sortBy == 'food'}" >
      <div class="sort_item_container" @click="chooseType('food')">
        <div class="sort_item_border">
          <span :class="{category_title: sortBy == 'food'}">{{foodTitle}}</span>
          <svg width="10" height="10" xmlns="http://www.w3.org/2000/svg" version="1.1" class="sort_icon">
            <polygon points="0,3 10,3 5,8"/>
          </svg>
        </div>
      </div>
      <transition name="showlist" v-show="category">
        <section v-show="sortBy == 'food'" class="category_container sort_detail_type">
          <section class="category_left">
            <ul>
              <li v-for="(item, index) in category" :key="index" class="category_left_li" :class="{category_active:restaurant_category_id == item.id}" @click="selectCategoryName(item.id, index)">
              <section>
                <img :src="getImgPath(item.image_url)" v-if="index" class="category_icon">
                <span>{{item.name}}</span>
              </section>
              <section>
                  <span class="category_count">{{item.count}}</span>
                  <svg v-if="index" width="8" height="8" xmlns="http://www.w3.org/2000/svg" version="1.1" class="category_arrow" >
                    <path d="M0 0 L6 4 L0 8"  stroke="#bbb" stroke-width="1" fill="none"/>
                  </svg>
              </section>
              </li>
            </ul>
          </section>
          <section class="category_right">
            <ul>
              <li v-for="(item, index) in categoryDetail" v-if="index" :key="index" class="category_right_li" @click="getCategoryIds(item.id, item.name)" :class="{category_right_choosed: restaurant_category_ids == item.id || (!restaurant_category_ids)&&index == 0}">
                <span>{{item.name}}</span>
                <span>{{item.count}}</span>
              </li>
            </ul>
          </section>
        </section>
      </transition>
    </div>
  <!-- 排序 -->
    <div class="sort_item" :class="{choose_type:sortBy == 'sort'}">
      <div class="sort_item_container" @click="chooseType('sort')">
        <div class="sort_item_border">
          <span :class="{category_title: sortBy == 'sort'}">排序</span>
          <svg width="10" height="10" xmlns="http://www.w3.org/2000/svg" version="1.1" class="sort_icon">
            <polygon points="0,3 10,3 5,8"/>
          </svg>
        </div>
      </div>
      <transition name="showlist">
        <section v-show="sortBy == 'sort'" class="sort_detail_type">
          <ul class="sort_list_container" @click="sortList($event)">
            <li class="sort_list_li">
              <svg>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#default"></use>
            </svg>
              <p data="0" :class="{sort_select: sortByType == 0}">
                <span>智能排序</span>
                <svg v-if="sortByType == 0">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#selected"></use>
              </svg>
              </p>
            </li>
            <li class="sort_list_li">
              <svg>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#distance"></use>
            </svg>
              <p data="5" :class="{sort_select: sortByType == 5}">
                <span>距离最近</span>
                <svg v-if="sortByType == 5">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#selected"></use>
              </svg>
              </p>
            </li>
            <li class="sort_list_li">
              <svg>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#hot"></use>
            </svg>
              <p data="6" :class="{sort_select: sortByType == 6}">
                <span>销量最高</span>
                <svg v-if="sortByType == 6">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#selected"></use>
              </svg>
              </p>
            </li>
            <li class="sort_list_li">
              <svg>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#price"></use>
            </svg>
              <p data="1" :class="{sort_select: sortByType == 1}">
                <span>起送价最低</span>
                <svg v-if="sortByType == 1">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#selected"></use>
              </svg>
            </p>
            </li>
            <li class="sort_list_li">
              <svg>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#speed"></use>
            </svg>
              <p data="2" :class="{sort_select: sortByType == 2}">
                <span>配送速度最快</span>
                <svg v-if="sortByType == 2">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#selected"></use>
              </svg>
              </p>
            </li>
            <li class="sort_list_li">
              <svg>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#rating"></use>
            </svg>
              <p data="3" :class="{sort_select: sortByType == 3}">
                <span>评分最高</span>
                <svg v-if="sortByType == 3">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#selected"></use>
              </svg>
              </p>
            </li>
          </ul>
        </section>
      </transition>
    </div>
  <!-- 筛选 -->
    <div class="sort_item" :class="{choose_type:sortBy == 'activity'}">
      <div class="sort_item_container" @click="chooseType('activity')">
        <span :class="{category_title: sortBy == 'activity'}">筛选</span>
        <svg width="10" height="10" xmlns="http://www.w3.org/2000/svg" version="1.1" class="sort_icon">
          <polygon points="0,3 10,3 5,8"/>
        </svg>
      </div>
      <transition name="showlist">
        <section v-show="sortBy == 'activity'" class="sort_detail_type filter_container">
          <section style="width: 100%;">
            <header class="filter_header_style">配送方式</header>
            <ul class="filter_ul">
              <li v-for="(item, index) in Delivery" :key="index" class="filter_li" @click="selectDeliveryMode(item.id)">
                <svg :style="{opacity: (item.id == 0)&&(delivery_mode !== 0)? 0: 1}">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" :xlink:href="delivery_mode == item.id? '#selected':'#fengniao'"></use>
              </svg>
                <span :class="{selected_filter: delivery_mode == item.id}">{{item.text}}</span>
              </li>
            </ul>
          </section>
          <section style="width: 100%;">
            <header class="filter_header_style">商家属性（可以多选）</header>
            <ul class="filter_ul" style="paddingBottom: .5rem;">
              <li v-for="(item,index) in Activity" :key="index" class="filter_li" @click="selectSupportIds(index, item.id)">
                <svg v-show="support_ids[index].status" class="activity_svg">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#selected"></use>
              </svg>
                <span class="filter_icon" :style="{color: '#' + item.icon_color, borderColor: '#' + item.icon_color}" v-show="!support_ids[index].status">{{item.icon_name}}</span>
                <span :class="{selected_filter: support_ids[index].status}">{{item.name}}</span>
              </li>
            </ul>
          </section>
          <footer class="confirm_filter">
            <div class="clear_all filter_button_style" @click="clearSelect">清空</div>
            <div class="confirm_select filter_button_style" @click="confirmSelectFun">确定<span v-show="filterNum">({{filterNum}})</span></div>
          </footer>
        </section>
      </transition>
    </div>
  </section>
  <transition name="showcover">
    <div class="back_cover" v-show="sortBy"></div>
  </transition>
  <section class="shop_list_container">
    <shop-list :geohash="geohash" :restaurantCategoryId="restaurant_category_id" :restaurantCategoryIds="restaurant_category_ids" :sortByType='sortByType' :deliveryMode="delivery_mode" :confirmSelect="confirmStatus" :supportIds="support_ids" v-if="latitude"></shop-list>
  </section>
</div>