<div class="restContainer">
  <head-top head-title="重置密码" goBack="true"></head-top>
  <form class="restForm">
    <section class="input_container phone_number">
      <input type="text" placeholder="账号" name="phone" maxlength="11" v-model="phoneNumber" @input="inputPhone">
      <!-- <button @click.prevent="getVerifyCode" :class="{right_phone_number:rightPhoneNumber}" v-show="!computedTime">获取验证码</button>
          <button  @click.prevent v-show="computedTime">已发送({{computedTime}}s)</button> -->
    </section>
    <section class="input_container">
      <input type="text" placeholder="旧密码" name="oldPassWord" v-model="oldPassWord">
    </section>
    <section class="input_container">
      <input type="text" placeholder="请输入新密码" name="newPassWord" v-model="newPassWord">
    </section>
    <section class="input_container">
      <input type="text" placeholder="请确认密码" name="confirmPassWord" v-model="confirmPassWord">
    </section>
    <section class="input_container captcha_code_container">
      <input type="text" placeholder="验证码" name="mobileCode" maxlength="6" v-model="mobileCode">
      <div class="img_change_img">
        <img v-show="captchaCodeImg" :src="captchaCodeImg">
        <div class="change_img" @click="getCaptchaCode">
          <p>看不清</p>
          <p>换一张</p>
        </div>
      </div>
    </section>
  </form>
  <div class="login_container" @click="resetButton">确认修改</div>
  <alert-tip v-if="showAlert" :showHide="showAlert" @closeTip="closeTip" :alertText="alertText"></alert-tip>
</div>