<div class="rating_page">
  <head-top head-title="账户信息" go-back='true'></head-top>
  <section class="profile-info">
    <section class="headportrait">
      <input type="file" class="profileinfopanel-upload" @change="uploadAvatar">
      <h2>头像</h2>
      <div class="headportrait-div">
        <img v-if="userInfo" :src="imgBaseUrl + userInfo.avatar" class="headportrait-div-top">
        <span class="headportrait-div-top" v-else>
          <svg>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#avatar-default"></use>
          </svg>
        </span>
        <span class="headportrait-div-bottom">
          <svg fill="#d8d8d8">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use>
          </svg>
        </span>
      </div>
    </section>
    <router-link to="/profile/info/setusername" class="info-router">
      <section class="headportrait headportraitwo">
        <h2>用户名</h2>
        <div class="headportrait-div">
          <p>{{username}}</p>
          <span class="headportrait-div-bottom">
            <svg fill="#d8d8d8">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use>
            </svg>
          </span>
        </div>
      </section>
    </router-link>
    <router-link to="/profile/info/address" class="info-router">
      <section class="headportrait headportraitwo headportraithree">
        <h2>收货地址</h2>
        <div class="headportrait-div">
          <span class="headportrait-div-bottom">
            <svg fill="#d8d8d8">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use>
            </svg>
          </span>
        </div>
      </section>
    </router-link>
    <section class="bind-phone">
      账号绑定
    </section>
    <section class="info-router" @click="changePhone">
      <section class="headportrait headportraitwo headportraithree">
        <h2><img src="../../../assets/images/bindphone.png" style="display:inline-block;margin-right:.4rem;" alt="">手机</h2>
        <div class="headportrait-div">
          <p>{{infotel}}</p>
          <span class="headportrait-div-bottom">
            <svg fill="#d8d8d8">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use>
            </svg>
          </span>
        </div>
      </section>
    </section>
    <section class="bind-phone">
      安全设置
    </section>
    <router-link to="/forget" class="info-router">
      <section class="headportrait headportraitwo headportraithree">
        <h2>登录密码</h2>
        <div class="headportrait-div">
          <p>修改</p>
          <span class="headportrait-div-bottom">
            <svg fill="#d8d8d8">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use>
            </svg>
          </span>
        </div>
      </section>
    </router-link>
    <section class="exitlogin" @click="exitlogin">退出登录</section>
  </section>

  <section class="coverpart" v-if="show">
    <section class="cover-background"></section>
    <section class="cover-content " :class="{'cover-animate' : isEnter, 'cover-animate-leave' : isLeave}">
      <div class="sa-icon">
        <span class="sa-body"></span>
        <span class="sa-dot"></span>
      </div>
      <h2>是否退出登录</h2>
      <div class="sa-botton">
        <button class="waiting" @click="waitingThing">再等等</button>
        <div style="display:inline-block;">
          <button class="quitlogin" @click="outLogin">退出登录</button>
        </div>
      </div>
    </section>
  </section>
  <alert-tip v-if="showAlert" @closeTip="showAlert = false" :alertText="alertText"></alert-tip>
  <transition name="router-slid" mode="out-in">
    <router-view></router-view>
  </transition>
</div>